<br/>
<br/>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  
   <select [(ngModel)]="changeShow" (ngModelChange)="ShowCard($event)" class="form-control" heigth="12px">
    <option value="{{selectChange}}">Selecione um estado..</option>
    <option [value]="idsaopaulo">São Paulo (SP)</option>
    <option [value]="idrio">Rio de Janeiro (RJ)</option>
    <option [value]="idcuritiba">Curitiba (PR)</option>

  </select>

   <br/>
   <br/>
   
   
  <div class="card"  *ngIf="changeShow" >
      <div align="center" *ngFor="let temp of resultTemp">
      <img class="card-img-top" *ngIf=" temp.icon == '5' " src="assets/img/chuva.jpg"  alt="Chuva">
      <img class="card-img-top" *ngIf=" temp.icon == '2r'" src="assets/img/Muitas nuves.jpg"  alt="Muitas nuvens">
      <img class="card-img-top" *ngIf=" temp.icon == '3'" src="assets/img/sum.jpg"  alt="Céu aberto">

      <div class="card-body">
        <h5 class="card-title"><span *ngIf="temp.temperature > 25;else tem">Temperatura:&nbsp;<span style="color: brown">{{temp.temperature}}ºC</span></span></h5>
       <ng-template #tem> <h5 class="card-title" >Temperatura:&nbsp;<span style="color:mediumblue">{{temp.temperature}}ºC</span></h5></ng-template>
        <p class="card-text">Umidade relativa do ar:&nbsp;{{temp.humidity}}%</p>
        <p class="card-text">Condição:&nbsp;{{temp.condition}}</p>
      </div>
    </div>
</div>

  </div>
  <div class="col-md-4"></div>
</div>

